<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="/assets/materialize.min.css">
    <style>
    body{
       
       
        background: url('/assets/astronomy-1867616_1280.jpg') no-repeat 50%50%;
        background-size: cover;
    }
    #t{
        opacity: 0.7;
        text-align: center;
    }
    #an{
        opacity: 0.7;
        background-color: black;
       
      padding:30px 30px;;
      border-radius: 13px;
    }
    #an:hover{
        opacity: 0.85;
    }
    .activet{
        background-color:grey;
    }
    input {
             color: white;
            }
    </style>
</head>
<body>
    <div class="container center">
            <img class="responsive-img"src="./assets/Kalpana.png" alt="Kalpana"> 
  
            <div id="an" class="white-text">
                <h5>Error occurred : <%=err%></h5>
            </div>
        </div>

  </body>

        
  
<script src="/assets/materialize.min.js"></script>

</html>