<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="/assets/materialize.min.css">
    <style>
    body{
       
       
        background: url('/assets/astronomy-1867616_1280.jpg') no-repeat 50%50%;
        background-size: cover;
    }
    #t{
        opacity: 0.7;
        text-align: center;
    }
    #an{
        opacity: 0.7;
        background-color: black;
       
      padding:30px 30px;;
      border-radius: 13px;
    }
    #an:hover{
        opacity: 0.85;
    }
    .activet{
        background-color:grey;
    }
    input {
             color: white;
            }
     footer{
        height:100px;
    }
    </style>
</head>
<body>
    <div class="container center">
            <img class="responsive-img"src="./assets/Kalpana.png" alt="Kalpana"> 
            <nav class="nav-wrapper black " id="t">
                    <div class="nav-content">
                        
                                <a class="sidenav-trigger brand-logo  hide-on-large-only" href="#!" data-target="mobile-links"><i class="material-icons right">menu</i></a>
                            <ul id="" class="center hide-on-med-and-down ">
                                        
                                <li ><a href="/main"><i class="material-icons left">home</i>Home</a></li>
                                    <li ><a href="/leader"><i class="material-icons left">stars</i>Ranking</a></li>
                                    <li class="activet"><a href=""><i class="material-icons left">chat</i>About</a></li>
                                    
                                </ul>
                                <ul id="" class="right hide-on-med-and-down ">
                                        <li ><a target="_blank" href="https://www.facebook.com/ieeepesitbsc"><i class="material-icons left">public</i>Fb Page</a></li>
                                        
                                        <li><a href="/logout"><i class="material-icons left">arrow_back</i>Logout</a></li>
                                    </ul>
                                    
                                    
                    </div>
            
                </nav>
                <ul id="mobile-links" class="sidenav center hide-on-large-only">
                                        
                        <li ><a href="/main"><i class="material-icons left">home</i>Home</a></li>
                            <li ><a href="/leader"><i class="material-icons left">stars</i>Ranking</a></li>
                            <li class="activet"><a href="/about"><i class="material-icons left">chat</i>About</a></li>
                            <li ><a target="_blank" href="https://www.facebook.com/ieeepesitbsc"><i class="material-icons left">public</i>Fb Page</a></li>
                            <li><a href="/logout"><i class="material-icons left">arrow_back</i>Logout</a></li>
                        </ul>
                    </div>
                    <br>
            <div class="container center white-text"id="an">
                <h4>WHAT IS KALPANA?</h4>
                <p>
                        The inception of Kalpana last year brought with it a plethora of opportunities for the participants as well as for the hundreds of underprivileged students who got a chance to explore the possibilities of the world outside school. 
                </p>
                <p>
                        We are proud to host the second iteration of Kalpana, in the hope that we continue nurturing ideas that strive to change the way the world looks at current technology. </p>

                <p>
                        The WiE Chapter at IEEE PESIT South Campus Student Branch has always advocated women empowerment while fostering a sense of equality. 
                    </p>
                <p>
                        Make your ideas come to life, make your presence felt at Kalpana. Your initiative to partake in this event will take you a step closer to the fruition of your endeavours. At the same time, you will be making a contribution to furthering an underprivileged child's career. 

                        Log on to <a target="_blank"href="http://kalpana.ieeepesitsouth.org">Kalpana</a> to know more or to register.</p>
                        <br>
   
                        <a target="_blank"class="btn-large waves-effect waves-light" href="http://kalpana.ieeepesitsouth.org">Register for Kalpana</a>
                    </div>
   <br>


<div class="container ">
        <footer class=" " id="an">
                
                  <div class="row center">
                    <div class="col  s12">
                      <h6 class="white-text">Developed By-</h6>
                      <p class="grey-text text-lighten-4"> <a  target="_blank"href="http://www.github.com/jdmallige">Jagdish</a></p>
                    </div>
                    
                  </div>
                </footer>
            </div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
   $(document).ready(function(){
    $('.sidenav').sidenav();
  });
        
    </script>
<script src="/assets/materialize.min.js"></script>

</html>